#card-horiz{
    background:white;
    color:black;
    font-family: 'Josefin Sans', sans-serif;
    border:5px solid yellow
    
}

#card-horiz:hover{
    background:white;
    filter: brightness(100%);
}

#wrapper{
    margin-top:-1em;
    min-height:135em;
    max-height:140em;
    background-image: url('../images/DrinkClass2.jpg');
    /* background: black; */
    background-size:cover;
    overflow:hidden;
    color:white;
    padding-bottom: 1em;
}