/* div{
    border: 1px solid black;
    width: 250px;
    
} */

/* img {
    width: 75px;
    height: 75px;
} */

/* a:hover{
    cursor:pointer;
} */

.card-img-top {
    width: 100%;
    height: 10rem;
    object-fit: cover;
    border-radius: 1px 1px 0px 0px
}

.card{
    margin-top:2em;
    border:none;
    /* border:1px solid transparent; */
}

.card-deck{
    margin-left:2vw;
}

.card-text{
    /* opacity:0.6; */
    color:black;
    text-align:center;
    font-family: "Arial";
    /* background:#CCC */
}

.card-link:hover{
    text-decoration:none;
    
}

/* The use of transition and opacity gives a fade-in effect */

.img-and-text-container:hover{
    transition: 0.3s;
    background:#A0A0A0;
    opacity:0.6;
}


.remove-mark{
    
    font-family: 'Varela Round', sans-serif;
    font-weight:bold;
    border-radius:0px;
    /* opacity:1; */
    border:2px solid red;
    color:red;
    position: absolute;
    top: 0;
    right: 0;
}

.remove-mark:active{
   background:grey;   
}
