.navbar{
    background: blanchedalmond;
    position:fixed;
    width:100%;
    top:0;
    z-index: 1;

    
}

.home-link {
    font-family: 'Leckerli One', cursive;
    font-size: 2.5em;
    display:inline;
}

.home-link-container{
    margin-bottom:-1em;
}

.home-link:hover{
    color:black;
    background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: repeat;
  background-size: 94%;
  animation: animate 3.5s linear infinite;
  /* animation-fill-mode:backwards; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
    text-decoration:none  
}

@keyframes animate {
    0% {
      background-position: -3490%;
    }
    100% {
      background-position: 10%;
    }
  }
.nav-link {
    font-family: "Josefin Sans";
    font-size: 2em;
    display:inline;
}

.nav-link:hover{
    color:red;  
}

#welcome-user{
    font-size:0.8em;
    margin-top:-0.9em;
}
