.navbar{
    background: blanchedalmond;
    position:fixed;
    width:100%;
    top:0;
    z-index: 1;

    
}

.home-link {
    font-family: 'Leckerli One', cursive;
    font-size: 2em;
}

.nav-link {
    font-family: "Josefin Sans";
    font-size: 2em;
    display:inline;
}

.nav-link:hover{
    color:red;
    
}

