.navbar{
    background: blanchedalmond;
    position:fixed;
    width:100%;
    top:0;
    z-index: 1;

    
}

.home-link {
    font-family: 'Leckerli One', cursive;
    font-size: 2.5em;
    display:inline;
}

.home-link-container{
    margin-bottom:-1em;
}

.home-link:hover{
    color:black;
    text-decoration:none  
}


.nav-link {
    font-family: "Josefin Sans";
    font-size: 2em;
    display:inline;
}

.nav-link:hover{
    color:red;  
}

#welcome-user{
    font-size:0.8em;
    margin-top:-0.9em;
}
