.react-paginate ul {
    border:1px solid black;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}


.react-paginate li {
    padding:5px;
    background-image: linear-gradient(#EEE, #BABABA);
    /* height:40px; */
    /* min-width: 35px; */
    display: inline-block;
    overflow:auto;
}



.page-link:hover{
    text-decoration:none;
    background:transparent;
    color:white;
    cursor:pointer;
}



.active a{
    color:white;
    background-color:  grey;
}

.active a:hover{
    color:white;
    background-color:  grey;
    /* cursor:not-allowed; */
    
}

.page{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right:none;
    
}

.page-link{
    display: inline-block;
    width:35px;
    padding-right:10px;
    padding-left:10px;
    background: transparent;
    border:none;
    color:black;
    font-weight: bold;
    font-size: 2em;
    line-height:1em;
    
}

.page-link:hover{
    text-decoration:none;
    background:transparent;
    color:white;
    cursor:pointer;
}



a{
    color:black;
}

.previous{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right:none;
    border-radius: 10px 0px 0px 10px; /* top left, top right, bottom right, bottom left */
    color:black;
    font-weight: bold;
    font-size: 2em;
}


.previous-link:hover{
    text-decoration:none;
    cursor: pointer;
    color:white
}
    
.next{
    border:1px solid black;
    border-radius: 0px 10px 10px 0px; /* top left, top right, bottom right, bottom left */
    color:black;
    font-weight: bold;
    font-size: 2em;
}

.next-link:hover{
    text-decoration:none;
    cursor:pointer; 
    color:white
}

.disabled a{
    color:grey;
    cursor: default
}

.disabled a:hover{
    color:grey;
    cursor: default
}