#signup-container{
    background-image: url("../images/signup-bg.jpg");
    background-size: 100%;
    font-family: "Josefin Sans";
    min-height:55em;
    max-height:90em;
    margin-top:-8em;
    padding-top:4em;
    padding-bottom:1em;
}

#signup{
    font-family: "Josefin Sans";
    background: white;
    width:40em;
    margin:auto;
    border-radius:10px;
    padding:0.4em;
    color:black;
}

#to-login {
    font-family: "Josefin Sans";
    color:teal;
    text-decoration: "underline"; 
    margin-left: 0.2em;  
}
