.welcome{
    font-family: 'Josefin Sans', cursive;
    background-image: url("../images/welcome-bg.jpg");
    background-size: 100%;
    margin-top:-1em;
    height:54em;
    padding-top:1em;
}

.welcome-chunk{
    width: 85em;
    border-radius:10px;
    margin:auto;
    height:41em;
    background:white;
    /* font-size: 1.5em; */
    /* Use padding here to prevent underflow into NavBar */
    /* padding-top: 50px; */
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-bottom:0.5em;
}

.welcome-chunk h1{
    padding-top:0.5em;
    /* border: 1px solid black; */
}

.welcome-chunk td{
    margin-top:2em;
    text-align:center;
    padding:0.5em;
    /* border: 1px solid black; */
}

.welcome-chunk tr{
    border:none;
    /* border:1px solid black; */
    /* border: 1px solid black; */
}

.statbox{
    padding:0.5em;
    overflow:hidden;
    /* margin:auto; */
    color:white;
    border-radius:10px;
}

#stat-logo{
    height:7em;
}

.stats{
    font-size:4em;    
    margin-top:0.2em;
}

.first-row td:nth-child(1) div {background: #80cee1; }
.first-row td:nth-child(2) div {background: rgb(255, 199, 138); }
.first-row td:nth-child(3) div {background: #ff6961; }

.second-row td:nth-child(1) div {background: pink; }
.second-row td:nth-child(2) div {background: aquamarine; }
.second-row td:nth-child(3) div {background: rgb(208, 171, 240); }

.third-row td:nth-child(1) div {background: #2b5fd6; }
.third-row td:nth-child(2) div {background: rgb(255, 154, 46); }
.third-row td:nth-child(3) div {background: red; }

.big-number{
    font-size:3em;
    font-weight:bolder;
    /* margin-bottom:-2em; */
}
.total{
    margin-top:-2em;
}